*
{
    font-family:		'Monocraft';
    font-size:			15px;
    font-weight:		bold;
}

window#waybar
{
	background-color:	rgba(35, 35, 61, 0.85);

	border-bottom:		6px solid rgba(15, 15, 30, 0.80);
	border-right:		4px solid rgba(15, 15, 30, 0.80);
	border-radius:		20px;
}

button:hover
{
	box-shadow:			none;
	text-shadow:		none;
	background:			none;
	transition:			none;
	border-color:		transparent;
}

#workspaces label		{ font-size: 20px; }
#workspaces button		{ color: rgb(255,255,255); }

.modules-left
{
	margin-left:		10px;
	margin-bottom:		5px;
}

.modules-center, .modules-right
{
	margin-top:			8px;
	margin-bottom:		12px;
}

.modules-right
{
	margin-right:		10px;
}

label.module
{
	background-color:	rgb(20,20,50);

	padding-left:		10px;
	padding-right:		10px;
	
	border-radius:		15px;
}

#pulseaudio, #network, #battery	{ padding-right: 18px; }
#clock							{ color: rgb(5,220,220); }
#battery						{ color: rgb(5,200,5); }
#battery.warning				{ color: #fcba03; }
#battery.critical				{ color: #e00b0b }
#backlight						{ color: rgb(245,162,96); }
#network						{ color: #FFF; }
#network.disconnected			{ color: #e00b0b }
#pulseaudio, #pulsaudio.muted	{ color: rgb(150, 100, 190); }
